
/*
 *  I am unsure of what I am going to put in this file or how I am going to style the page,
 *  but I will make changes as I time progresses.
 *
 * Color Palette: https://color.adobe.com/create/color-wheel; Monochromatic; #E0E9F0
 */
html {
    background-color: #FFFFFF;
    font-family: Verdana, sans-serif;
    margin: auto;
}
/* HEADER AND HEADING */

#site-header {
    font-size: large;
    background-color: #475E70;
    color: #FFFFFF;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    line-height: 0;
    display: flex;
    padding-bottom: 10px;
}

#site-header-name {
    flex: 1;
    font-size: x-large;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-right: 1px solid black;
}

#site-header-navigation {
    box-sizing: border-box;
    flex: 3;
    margin-top: 0;
    margin-bottom: 0;
    border-right: 1px solid black;
    align-self: center;
}

#site-header-navigation button {
    color: #FFFFFF;
    font-size: large;
    background-color: #8A9485;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    float: left;
}

/* BODY AND MAIN CONTENT */

body {
    padding: 0;
    margin: 0;
}

.body-content {
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.body-content h3 {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}

#body-my-links not h3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}